<h1>Welcome to Golden B Designs!</h1>

<p>Golden B Designs is a custom floral design company that specializes in fresh flower arrangements. Every design is created to reflect the personal style and vision of you, the client. We use the freshest flowers and the finest materials.</p>

<p>Need a fabulous Anniversary bouquet or a special Birthday arrangement? Planning an intimate dinner party or an engagement wedding reception? Golden B Designs will create exquisite and inspiring floral arrangements sure to impress any audience!</p>


<p><em>Barbara Kaber, Owner & Designer</em></p>